streamlit==1.42.2
altair==4.2.2 # Compatible with Streamlit
requests
pydrive
tavily-python
typing-extensions
pydantic
scripts 
streamlit
#pip install -r requirements.txt
#running
#streamlit run streamlit_dashboard/app.py

#fixes pip install --no-cache-dir streamlit